.App {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #282c34;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 0;
}

/* HOME */
.home {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*SECTION*/

.text-home {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transform: translateY(-100px);
}

.text-home h1, .text-home h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  z-index: 9;
}

.text-home span {
  font-size: 1.6rem;
  font-weight: 300;
  z-index: 9;
}

/* HEADER */
.header {
  width: 100%;
  padding: 1rem 0rem;
  height: 90px;
  transition: background-color 0.4s ease-in-out;
  z-index: 10;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem 1.8rem;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.container-header {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wrapper
{
    background-color: #020028;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox
{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.checkbox .trace
{
    width: 30px;
    height: 4px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1)
{
    top: 12px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2)
{
    top: 20px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3)
{
    top: 28px;
    transform: rotate(0);
}

#toggle
{
    display: none;
}

#toggle:checked + .checkbox .trace:nth-child(1)
{
    transform: rotate(45deg);
    top: 18px;
}

#toggle:checked + .checkbox .trace:nth-child(2)
{
    transform: translateX(-40px);
    width: 15px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3)
{
    transform: rotate(-45deg);
    top: 19px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 90px;
  z-index: 10;
  margin: 0px;
  position: fixed;
  bottom: -50px;
  left: 0;
}

/*ICONES*/
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.icons a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.icons a .layer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.icons a .layer::before{
  content: '';
  position : absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translate(0px, 0px);
  z-index: 1;
}

.icons a .layer::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #0077B5;
  opacity: 0;
  transform: translate(0px, 0px);
  transition: all 0.3s;
  z-index: 1
}

.icons a .layer span {
  font-size: 20px;
  color: #ffffff;
  z-index: 2;
}

.icons a .layer .fab {
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  z-index: 2;
}

.icons a:hover .layer span {
  border-color: #0A66C2;
}

.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: 0.4;
}

.icons a:hover .layer span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: 0.6;
}

.icons a:hover .layer span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: 0.8;
}

.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons a .text {
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  display: none;
}

.icons a:hover .text {
  display: block;
}


.icons a .layer.github{
  background-color: #ffffff;
}

.icons a .layer.github span {
  color: #333333;
}

.icons a:hover .layer.github{
  background-color: #333333;
}

.icons a:hover .layer.github span {
  color: #ffffff;
}

.icons a .layer.github::after{
  border: 1px solid #333333;
}


.icons a .layer.linkedin{
  background-color: #ffffff;
}

.icons a .layer.linkedin span {
  color: #0A66C2;
}

.icons a:hover .layer.linkedin{
  background-color: #0A66C2;
}

.icons a:hover .layer.linkedin span {
  color: #ffffff;
}

.icons a .layer.linkedin::after{
  border: 1px solid #0A66C2;
}