rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Função auxiliar para verificar se o usuário está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }

    // Regras para a coleção de pesquisadores
    match /researchers/{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    // Regras para a coleção de projetos
    match /projects/{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    // Regras para a coleção de despesas
    match /expenses/{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    // Regras para a coleção de contratos
    match /contracts/{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
} 