@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #020272;
  color: white;
  line-height: 1.6;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Particles */
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Home Page */
.home {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-home {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transform: translateY(100px);
}

.text-home h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
  z-index: 9;
  color: white;
  font-size: 4rem;
}

.text-home h2 {
  font-size: 2.5rem;
  color: white;
}

.text-home span {
  font-size: 2.5rem;
  font-weight: 300;
  z-index: 9;
}

.texto-animado {
  display: inline-block;
  position: relative;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #007bff;
  animation: blink 1s step-start infinite;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Header */
.header {
  width: 100%;
  padding: 1rem 1.8rem;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.home .header {
  background-color: transparent; /* Header transparente */
}

.sobre .header.header-scrolled {
  background-color: rgba(0, 0, 0, 0.9); /* Cor ao rolar na página Sobre */
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem 1.8rem;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.destaque {
  color: #63e6fd;
  font-weight: bold;
}

/* Toggle Menu */
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0;
}

.checkbox .trace {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 12px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 20px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 28px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #ffffff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-items ul {
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-items ul li a {
  margin: 10px 0;
  color: #2e1c2b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  background-color: #2e1c2b;
  top: 20px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translateX(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #2e1c2b;
  top: 20px;
}

#toggle:checked + .checkbox {
  background-color: white;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax white;
  z-index: 1000;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
  z-index: 1001;
}

#toggle:checked ~ .footer,
#toggle:checked ~ .sobre-footer {
  display: none; /* Oculta o footer */
}

/* Footer */
.footer,
.sobre-footer {
  width: 100%;
  height: 90px;
  z-index: 10;
  margin: 0px;
  bottom: 0px;
  left: 0;
  padding: 20px 0;
  text-align: center;
  background-color: transparent;
  position: relative;
  transform: translateY(100px);
}

.sobre-footer p {
  margin: 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.sobre-footer .sobre-destaque {
  color: #63e6fd;
  font-weight: 700;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #020272;
}

::-webkit-scrollbar-thumb {
  background-color: #63e6fd;
  border-radius: 10px;
  border: 3px solid #020272;
}

/* About Section */
.sobre-home {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-about-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 12rem;
}

.content-about-left span {
  font-size: 2rem;
  font-weight: 300;
}

.content-about-left h1 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.content-about-left p {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 0;
}

.content-about-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-about img {
  width: 100%;
}

.sobre-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #020272;
  position: fixed;
  top: -10px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo a {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.sobre-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sobre-header nav ul li {
  margin-left: 20px;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centraliza o texto */
  padding: 2rem 1rem;
}

.section-about .destaque {
  color: #63e6fd;
  font-weight: bold;
}

.section-about h2 {
  font-size: 36px;
  font-weight: 700;
  color: #63e6fd;
  margin-bottom: 20px;
}

.section-about p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.section-about .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.section-about .social-icons a {
  color: #63e6fd;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about .social-icons a:hover {
  color: white;
}

.section-about .about-button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #63e6fd;
  color: #020272;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.section-about img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

/*ICONES*/
.icons-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.icons-home a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.icons-home a .layer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.icons-home a .layer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translate(0px, 0px);
  z-index: 1;
}

.icons-home a .layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #0077b5;
  opacity: 0;
  transform: translate(0px, 0px);
  transition: all 0.3s;
  z-index: 1;
}

.icons-home a .layer span {
  font-size: 20px;
  color: #ffffff;
  z-index: 2;
}

.icons-home a .layer .fab {
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  z-index: 2;
}

.icons-home a:hover .layer span {
  border-color: #0a66c2;
}

.icons-home a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons-home a:hover .layer span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: 0.4;
}

.icons-home a:hover .layer span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: 0.6;
}

.icons-home a:hover .layer span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: 0.8;
}

.icons-home a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons-home a .text {
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  display: none;
  font-family: "Montserrat", sans-serif;
}

.icons-home a:hover .text {
  display: block;
}

.icons-home a .layer.github {
  background-color: #ffffff;
}

.icons-home a .layer.github span {
  color: #333333;
}

.icons-home a:hover .layer.github {
  background-color: #333333;
}

.icons-home a:hover .layer.github span {
  color: #ffffff;
}

.icons-home a .layer.github::after {
  border: 1px solid #333333;
}

.icons-home a .layer.linkedin {
  background-color: #ffffff;
}

.icons-home a .layer.linkedin span {
  color: #0a66c2;
}

.icons-home a:hover .layer.linkedin {
  background-color: #0a66c2;
}

.icons-home a:hover .layer.linkedin span {
  color: #ffffff;
}

.icons-home a .layer.linkedin::after {
  border: 1px solid #0a66c2;
}

/*ICONES*/
.icons-about {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icons-about a {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.icons-about a .layer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.icons-about a .layer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translate(0px, 0px);
  z-index: 1;
}

.icons-about a .layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #0077b5;
  opacity: 0;
  transform: translate(0px, 0px);
  transition: all 0.3s;
  z-index: 1;
}

.icons-about a .layer span {
  font-size: 20px;
  color: #ffffff;
  z-index: 2;
}

.icons-about a .layer .fab {
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  z-index: 2;
}

.icons-about a:hover .layer span {
  border-color: #0a66c2;
}

.icons-about a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons-about a:hover .layer span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: 0.4;
}

.icons-about a:hover .layer span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: 0.6;
}

.icons-about a:hover .layer span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: 0.8;
}

.icons-about a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons-about a .text {
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  display: none;
}

.icons-about a:hover .text {
  display: block;
}

.icons-about a .layer.github {
  background-color: #ffffff;
}

.icons-about a .layer.github span {
  color: #333333;
}

.icons-about a:hover .layer.github {
  background-color: #333333;
}

.icons-about a:hover .layer.github span {
  color: #ffffff;
}

.icons-about a .layer.github::after {
  border: 1px solid #333333;
}

.icons-about a .layer.linkedin {
  background-color: #ffffff;
}

.icons-about a .layer.linkedin span {
  color: #0a66c2;
}

.icons-about a:hover .layer.linkedin {
  background-color: #0a66c2;
}

.icons-about a:hover .layer.linkedin span {
  color: #ffffff;
}

.icons-about a .layer.linkedin::after {
  border: 1px solid #0a66c2;
}

.btn-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 8px;
  background-color: #63e6fd;
  color: white;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background-color: #4db3e3; /* Cor do botão ao passar o mouse */
}


/*SKILLS*/
.skills {
  width: 100%;
  height: auto;
  padding: 2.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skills-headline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.skills-headline span {
  font-size: 2rem;
  font-weight: 300;
  font-weight: bold;
  margin-bottom: -1.5rem;
  font-family: "Montserrat", sans-serif;
}

.skills-headline h1 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.skills-headline p {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.headline {
  width: 100%;
  padding: 1.5rem 0rem 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.headline .destaque {
  font-size: 1.5rem;
  margin-bottom: -3rem;
  margin-top: -4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.list-about {
  padding-top: 1.6rem;
}

.container-list {
  display: flex;
  gap: -1rem;
  margin-top: -1rem;
}


.container-list ul {
  width: 100%;
  position: relative;
  left: -2.5rem;
}

.container-list li {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.container-list i {
  color: #63e6fd;
  font-size: 1.2rem;
}


.list-about li {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  color: white;
}

.skills-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: -30rem;
}

.card-tech {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease;
}

.card-tech{
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.card-tech img {
  width: 50%;
  opacity: 1;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.card-tech:hover {
  transform: translateY(-5px);
}

.card-tech:hover img {
  opacity: 0.6;
  filter: brightness(0) invert(1);
}

.card-tech:hover img[data-tech="CSS"] {
  filter: sepia(1) hue-rotate(-35deg) saturate(5);
}

.card-tech:hover img[data-tech="JavaScript"] {
  filter: sepia(1) hue-rotate(180deg) saturate(10);
}

.card-tech:hover img[data-tech="React"] {
  filter: sepia(1) hue-rotate(45deg) saturate(10);
}

.card-tech:hover img[data-tech="Java"] {
  filter: sepia(1) hue-rotate(265deg) saturate(8);
}

.card-tech:hover img[data-tech="Springboot"] {
  filter: sepia(1) hue-rotate(190deg) saturate(10);
}