/* Geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  
  /* iPhone 11 e dispositivos similares */
  @media only screen and (max-width: 828px) and (orientation: portrait) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
    }
  
    .logo {
      font-size: 1.4rem;
      text-align: center;
    }
  
    .text-home h1 {
      font-size: 3rem;
      text-align: center;
    }
  
    .text-home span {
      font-size: 2rem;
      text-align: center;
    }
  
    .text-home h2 {
      font-size: 2rem;
      text-align: center;
    }
  
    .headline-about span {
      font-size: 1.4rem;
      text-align: center;
    }
  
    .headline-about h1 {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .section-sobre {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  
    .img-about {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .img-about img {
      width: 100%;
      height: auto;
    }
  
    .content-about-left h1 {
      font-size: 1.8rem;
      text-align: center;
    }
  
    .cta-about {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.2rem;
    }
  
    .btn-about {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  
    .icons-about {
      width: 80%;
      display: flex;
      justify-content: center;
      gap: 0.8rem;
      cursor: pointer;
    }
  
    .container-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 100%;
      height: auto;
    }
  
    .content-about {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  
    .content-about-left,
    .content-about-right {
      width: 100%;
      height: auto;
    }
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1024px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
    }
  
    .logo {
      font-size: 1.8rem;
    }
  
    .text-home h1 {
      font-size: 4rem;
    }
  
    .text-home span {
      font-size: 2.7rem;
    }
  
    .text-home h2 {
      font-size: 2.7rem;
    }
  
    .headline-about span {
      font-size: 1.6rem;
    }
  
    .headline-about h1 {
      font-size: 3rem;
    }
  
    .section-sobre {
      width: 95%;
      padding: 0;
    }
  
    .img-about {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .img-about img {
      width: 100%;
      height: auto;
    }
  
    .content-about-left h1 {
      font-size: 2rem;
    }
  
    .cta-about {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.6rem;
    }
  
    .btn-about {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  
    .icons-about {
      width: 80%;
      display: flex;
      justify-content: center;
      gap: 0.8rem;
      cursor: pointer;
    }
  
    .container-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .content-about {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  
    .content-about-left,
    .content-about-right {
      width: 100%;
    }
  }
  
  /* Desktop */
  @media (min-width: 1025px) {
    .container-about {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      height: calc(100vh - 90px);
    }
  
    .content-about-left,
    .content-about-right {
      width: 50%;
      height: 100%;
    }
  
    .logo {
      font-size: 1.6rem;
    }
  
    .text-home h1 {
      font-size: 5rem;
    }
  
    .text-home span {
      font-size: 2.7rem;
    }
  
    .headline-about span {
      font-size: 1.6rem;
    }
  
    .headline-about h1 {
      font-size: 3.1rem;
    }
  
    .section-sobre {
      width: 95%;
      height: calc(100vh - 90px);
    }
  
    .container-about {
      display: flex;
      align-items: center;
    }
  
    .content-about {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 3rem;
    }
  
    .content-about-left,
    .content-about-right {
      flex: 1;
    }
  
    .img-about img {
      width: 100%;
      height: auto;
    }
  
    .cta-about {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 1.6rem;
    }
  
    .btn-about {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
    }
  
    .icons-about {
      width: 70%;
      display: flex;
      justify-content: end;
      gap: 0.8rem;
      cursor: pointer;
    }
  }
  