@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

@media (max-width: 1023px) {
  body.sidebar-open {
    overflow: hidden;
  }
}

/* Adicionando algumas classes utilitárias personalizadas */
@layer components {
  .title-primary {
    @apply font-playfair font-bold text-acai-primary;
  }
  
  .text-body {
    @apply font-quicksand text-gray-700;
  }
  
  .card-title {
    @apply text-lg md:text-xl font-playfair font-semibold text-acai-primary mb-4;
  }
}