body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f3f4f6;
  color: #1f2937;
}

.navbar {
  background-color: #2563eb;
  padding: 1rem;
}

.navbar .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-titulo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar .container .navbar-menu a {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}

.home {
  position: relative;
  text-align: center;
  color: white;
}

.imagem-principal {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.section-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-home h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.section-home p {
  margin: 10px 0;
  margin-bottom: 2rem;
}

.section-home .btn {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.section-home .btn:hover {
  background-color: #3b82f6;
}

.about {
  padding: 2rem 1rem;
  background-color: #ffffff;
}

.container-about {
  width: 100%;
  padding: 20px;
}

.container-about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.content-about {
  display: flex;
  gap: 20px;
}

.content-about-left,
.content-about-right {
  flex: 1;
  padding: 10px;
}

.content-about-left p,
.content-about-right p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
}

.services {
  padding: 40px 20px;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content-services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-services {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.card-services img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card-services h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.portfolio {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  max-width: 350px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slides {
  display: flex;
  width: 400%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slide h1 {
  font-size: 2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 150px;
}

#typewriter {
  font-size: 2rem;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Animação para piscar o cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.slide img {  
  width: 100%;
height: 200px;
object-fit: contain;
border-radius: 10px;
}

.slide h3 {
font-size: 1.5rem;
margin: 10px 0;
}

.btn-project {
display: block;
text-align: center;
padding: 0.7rem;
background-color: #2563eb;
color: white;
border-radius: 5px;
text-transform: uppercase;
font-size: 1rem;
transition: background-color 0.3s;
text-decoration: none;
}

.btn-project:hover {
background-color: #3b82f6;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation label {
  width: 15px;
  height: 15px;
  background: gray;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.navigation label:hover {
  background: black;
}

input[name="radio"] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide4:checked ~ .slides {
  transform: translateX(-75%);
}

.contato {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
}

.contato h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-contato {
  background-color: #2563eb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-contato:hover {
  background-color: #3b82f6;
}

footer {
  background-color: #2563eb;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

.icones a {
  margin: 0 5px;
  font-size: 1.2rem;
  color: #2563eb;
}

.icones a:hover {
  color: #3b82f6;
}

#contact-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#floating-button {
  background-color: #2563eb;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

#floating-button img {
  width: 25px;
  height: 25px;
  content: url('./comment.png');
  transition: transform 0.3s;
}

#floating-button span {
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  background-color: #ffffff;
  color: #333;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#floating-button span::after {
  content: '';
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

#floating-button:hover {
  transform: scale(1.1);
  background-color: #3b82f6;
}

#floating-button:hover span {
  opacity: 1;
  visibility: visible;
}

#contact-options {
  position: absolute;
  bottom: 25px;
  flex-direction: column-reverse;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

#toggle-options:checked ~ #contact-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(-20px);
}

#toggle-options:checked + #floating-button img {
  width: 50px;
  height: 50px;
  content: url('./delete.png');
}

#toggle-options:checked + #floating-button span {
  opacity: 0;
  visibility: visible;
}

#contact-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 15px;
  background-color: #2563eb;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#contact-options a img {
  width: 50px;
  height: 50px;
}

#contact-options a:hover {
  transform: scale(1.1);
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbar .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar .container .navbar-menu {
      padding-top: 1rem;
  }

  .content-about {
      flex-direction: column;
  }

  .img-about {
      width: 10rem;
      height: 10rem;
  }

  .card-services, .card-portfolio {
      width: 90%;
      margin: 0 auto;
  }

  .services, .portfolio, .contato {
      padding: 20px 10px;
  }

  .section-home h1 {
      font-size: 2rem;
  }

  .section-home p {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar-titulo {
      font-size: 1.25rem;
  }

  .section-home h1 {
      font-size: 1.5rem;
  }

  .section-home p {
      font-size: 0.875rem;
  }

  .content-about-right p {
      font-size: 1rem;
  }

  .card-services h3, .card-portfolio h3 {
      font-size: 1.25rem;
  }
}
